/*    Colors    */
.dark-text{
  color: #1C1B1B;
}
.light-text{
  color:#E4DBD6;
}
.color-text{
  color: #DC6E25;
}
.bg-light{
  background-color: #EFE6E1 !important;
}
.bg-dark{
  background-color: #1C1B1B;
}
.bg-color{
  background-color: #DC6E25;
}
.bg-color-light{
  background-color: #B07656;
}
.links{
  color: #B07656 !important;
}
.links:hover{
  color:#DC6E25 !important;
}

/*   Fonts   */
h1, h2, h3{
  font-family: 'Josefin Sans', sans-serif;
}
p, a{
  font-family: 'Raleway', sans-serif;
}
h1{
  font-size: 55px;
  font-weight: 800;
}
h2{
  font-size: 40px;
  font-weight: 500;
}
h3{
  font-size: 26px;
  font-weight: 300;
}

p{
  font-size: 20px;
  font-weight: 200;
}

span{
  font-weight: 400;
}


/*  Others  */
body{
  cursor: none;
}

header{
  height: 70vh;
}

a{
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: px;
  transition: all 0.5s ease-in-out;
  text-decoration: none !important;
}
a:hover{
  transition: all 0.5s ease-in-out;
}

a.bg-light:hover{
  background-color: transparent !important;
  border: 3px solid #DC6E25 !important;
}

/*  Others  */
html {
  scroll-behavior: smooth;
}

/*  Cursor */
a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 0px;
  left: 0%;
  background: black;
  transition: width .3s ease;
}

/*
a:hover:after{
  width: 100%;
  left: 0%;
  background: black;
}
*/
.cursor {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #B07656;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 200ms ease-out;
  z-index: 9001;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #B07656;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
  z-index: 9000;
}

.hover {
  border-radius: 100%;
  border: 1.5px solid #DC6E25;
  opacity: 0.5;
  transform: scale(1.4);
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}


@media (max-width: 575.98px) { 
  h1{
    font-size: 45px;
  }
  h2{
    font-size: 35px;
  }
  h3{
    font-size: 22px;
    font-weight: 300;
  }
  
  p{
    font-size: 18px;
    font-weight: 200;
  }
  .cursor, .cursor2{
    display: none;
  }
}